@import url('https://fonts.googleapis.com/css?family=Caladea|Lato&display=swap');

/*=====================================
Global Styles
=======================================*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
}

/*=====================================
Top Search Section Styles
=======================================*/

.overlay-search-wrapper {
    background-image: url(./resources/image/search-img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    /* height: 80vh; */
}

.overlay-search-wrapper>.bg-style {
    background-color: transparent;
    /* background-image: linear-gradient(270deg,rgba(0,2,24,0) 0%,#000218 100%); */
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.bg-style {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.search-content-wrapper {
    min-height: 530px;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-content {}

/*Style to be added outside of text-column*/

.text-column {
    color: #fff;
}

.text-column .title {
    font-family: 'Caladea', serif;
    font-size: 50px;
    margin-bottom: 15px;
}

.text-column .sub-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.custom-col {
    padding: 0;
}

.custom-row {
    margin: 0;
}

.searchbar-container {}

.searchbar-container input,
.searchbar-container select {
    height: 60px;
    width: 100%;
    border: 0;
    border-right: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.6);
    color: #fff;
    padding-left: 20px;
}

.searchbar-container .search-1 {}

.searchbar-container .search-2 {}

.searchbar-container .search-3 {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.6);
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 70px;
}

.searchbar-container .search-3 button {
    background-color: salmon;
    border: 0;
    padding: 0.5rem 2rem;
    border-radius: 0.3rem;
    color: #fff;
}

/*=====================================
Open Jobs Section Styles Start
=======================================*/

.open-jobs-wrapper {
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.open-jobs-wrapper .open-job-header {
    font-family: 'Caladea', serif;
    margin-bottom: 10vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-jobs-wrapper .open-job-header .heading span {
    border-bottom: 0.7vh solid rgb(7, 7, 138);
    padding-bottom: 2vh;
}

.right-dropdown #dropdown {
    height: 3rem;
    width: 10rem;
    border-radius: .2rem;
    padding: 0.3rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: #ddd;
}

.my-card {
    /* width: 30vw; */
    border-radius: 1vh;
    border: 1px solid #fff;
    margin-bottom: 10vh;
    box-shadow: 0 0.3vw 1.5vw 0 rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 0.3vw 1.5vw 0 rgba(0, 0, 0, 0.19); */
    /* text-align: center; */
    position: relative;
}

.my-card .banner {
    background-image: url(./resources/image/showcase_1.jpg);
    width: 100%;
    height: 17.3vh;
    background-size: cover;
    border-top-left-radius: 0.9vh;
    border-top-right-radius: 0.9vh;
}

.card-2 .banner {
    background-image: url(./resources/image/showcase_2.jpg);
}

.card-4 .banner {
    background-image: url(./resources/image/showcase_2.jpg);
}

.card-6 .banner {
    background-image: url(./resources/image/showcase_2.jpg);
}

.my-card p {
    color: #aaa;
    margin: 0;
}

.job-nature {
    padding: 0.8vh 1vw;
    color: #fff;
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: #1b915a;
    border-radius: 0.5vw;
}

.job-header {}

.job-header .title {
    /* display: block; */
    text-align: center;
    margin: 0;
    padding: 3vh 0 1vh 0;
    font-family: 'Caladea', serif;
    font-weight: 400;
}

.job-description {
    text-align: center;
    padding: 0 0 3vh 0;
}

.job-description .deadline {
    color: salmon;
}

.job-description .location {
    margin: 1.5vh 0 0 0;
}

.location i {
    margin-right: 0.7vw;
}

.button-block {
    text-align: center;
    margin: 2vh 0 5vh 0;
}

.button {
    padding: 0.8vw 2.4vw;
    /* border: 1px solid rgb(71, 219, 150); */
    color: #fff;
    border-radius: 1.3vw;
    background-color: #E75D46;

}

.button:hover {
    background-color: #fff;
    border: 1px solid #E75D46;
    text-decoration: none;
    color: #E75D46;
}

.center-content {
    display: flex;
    justify-content: center;
}

.my-card .job-nature {
    top: 0;
    right: 0;
    padding: 0.2rem 0.8rem;
}

.my-card .job-header .title {
    margin-top: 40px;
    /* margin-left: -30px; */
}

.button-block span {
    color: #aaa;
}

.button-block .button {
    padding: 0.5vw 1.5vw;
    font-size: 14px;
}

/*=====================================
Open jobs - Sortout/Filter based Styles
=======================================*/
.filterDiv {
    display: none;
}

.showDivs {
    display: block;
}